<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monster Attack </title>
</head>

<body>
<div id="app" class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar-green text-center" v-bind:style="{width: playerHealth + '%'}">
                    {{ playerHealth }}
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                
                <div class="healthbar-green text-center" :style="{width: monsterHealth + '%'}">
                    {{ monsterHealth }}
                </div>
            </div>
        </div>
    </div>
    <div class="row controls" v-if="!gameIsRunning">
        <div class="col-md-12">
           
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </div>
    <div class="row controls" v-else>
        <div class="col-md-12">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </div>
    <div class="row log">
        <div class="col-md-12">
            <ul>
                <li v-for="turn in turns" :class="{'player-turn' : turn.is_player, 'monster-turn' : !turn.is_player}">
                    {{ turn.text }}
                </li>
            </ul>
        </div>
    </div>
</div>



 
     

   <!-- curs 18 -->
 



 <h1>Search in list</h1>
 <div id="apps">
     <input type="text" v-model="findName">

     <ul>
         <li v-for="student in search">{{student}} </li>
          </ul>
 </div>

 <div id="apps2">
     <h1> {{title}}</h1>
     <button v-on:click="changeTitle">changeTitle</button>
     <button v-on:click="destroy">destroy</button>
 </div> 

     <script src="dist/main.js"></script>
</body>

</html>